@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato Black';
    src: url('Lato-Black.ttf');
}

@font-face {
    font-family: 'Lato Semibold';
    src: url('Lato-Semibold.ttf');
}

@font-face {
    font-family: 'Lato Italic';
    src: url('Lato-Italic.ttf');
}

@font-face {
    font-family: 'Lato Light';
    src: url('Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato Bold';
    src: url('Lato-Bold.ttf');
}

.root {
    -fx-font-family: "Lato";
}

.button
{
    -fx-background-color: transparent;
}

.hyperlink {
    -fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
}

.tab-pane {
    -fx-tab-max-height: 0 ;
}
.tab-pane .tab-header-area {
    visibility: hidden ;
}

/* Welcome Screen */
#Welcometext {
    -fx-font-size: 14;
}

#WelcomeTitle {
    -fx-font-family: "Lato Semibold";
    -fx-font-size: 24;
}

#Signup,#Login,#Confirm,#SendCode,#Driving,#Riding,#email_title,#pass_title,#Credit,#Cash {
    -fx-font-family: "Lato Black";
    -fx-font-size: 20;
}

#pass_thing {
    -fx-font-family: "Lato Italic";
    -fx-font-size: 14;
}

#ShowPass>.box {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-pref-height: 24;
    -fx-pref-width: 28;
}

#ShowPass:selected>.box>.mark {
    -fx-background-color: transparent;
    -fx-background-image: url("../../Images/dinim3akalpha001/Eye.png");
}
#ShowPass>.box>.mark {
    -fx-background-image: url("../../Images/dinim3akalpha001/EyeClosed.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-shape: none;
}

#FB {
    -fx-background-image: url("../../Images/dinim3akalpha001/FB.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-shape: none;
    -fx-background-radius : 10;
}

#Google {
    -fx-background-image: url("../../Images/dinim3akalpha001/Google.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-shape: none;
    -fx-background-radius : 10;
}

#Apple {
    -fx-background-image: url("../../Images/dinim3akalpha001/Apple.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-shape: none;
    -fx-background-radius : 10;
}

#hyper1 {
    -fx-font-family: "Lato Light";
    -fx-font-size: 12;
}

#hyper2 {
    -fx-font-family: "Lato Bold";
    -fx-font-size: 12;
}

/* Verification */

#VerTitle {
    -fx-font-family: "Lato Semibold";
    -fx-font-size: 24;
}

#VerText {
    -fx-font-size: 14;
}

/* Driver Profile */
#YourProfile {
    -fx-font-size: 20;
    -fx-font-family: "Lato";
}

#Name {
    -fx-font-size: 20;
    -fx-font-family: "Lato Semibold";
}

#Stars {
    -fx-font-size: 16;
    -fx-font-family: "Lato";
}

#Vehicle {
    -fx-font-size: 12;
    -fx-font-family: "Lato Black";
    -fx-background-color: #3F3B6C;
    -fx-background-radius: 10;
}

#Payment {
    -fx-font-size: 12;
    -fx-font-family: "Lato Black";
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 10;
}



#ViewMore {
    -fx-font-family: "Lato";
    -fx-font-size: 12;
}

#LatestClient {
    -fx-font-family: "Lato";
    -fx-font-size: 16;
    -fx-text-alignment: left;
}

#Information {
    -fx-font-family: "Lato Semibold";
    -fx-font-size: 16;
    -fx-graphic: url("../../Images/dinim3akalpha001/info.png");
}

#Notification {
    -fx-font-family: "Lato Semibold";
    -fx-font-size: 16;
    -fx-graphic: url("../../Images/dinim3akalpha001/bell.png");
}

#Settings {
    -fx-background-image: url("../../Images/dinim3akalpha001/Settings.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-shape: none;
    -fx-background-radius : 10;
}

#Arrow {
    -fx-background-image: url("../../Images/dinim3akalpha001/Arrow.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-shape: none;
}

/* Payment in Profile */

#Input {
    -fx-border-radius :  10;
    -fx-border-width : 1.5;
    -fx-background-color :  rgba(217,217,217,1);
    -fx-border-color :  #3f3b6c;
    -fx-background-radius : 11;
    -fx-font-family: "Lato Semibold";
    -fx-font-size: 18;
    -fx-text-fill: #3F3B6C;
}

#MainText {
    -fx-font-family: "Lato Semibold";
}

#Apply {
    -fx-background-color :  #3F3B6C;
    -fx-background-radius :  10;
    -fx-font-family: "Lato Semibold";
    -fx-font-size: 20;
}

/* Payment Screen at Destination */

#Apple2 {
    -fx-background-image: url("../../Images/dinim3akalpha001/Apple2.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-shape: none;
    -fx-background-radius : 10;
}

#PayPal {
    -fx-background-image: url("../../Images/dinim3akalpha001/PayPal.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-shape: none;
    -fx-background-radius : 10;
}

#AddCard {
    -fx-background-color :  #3F3B6C;
    -fx-background-radius :  10;
    -fx-font-family: "Lato Semibold";
    -fx-font-size: 16;
}

#Pay {
    -fx-background-color :  #FFFFFF;
    -fx-background-radius :  10;
    -fx-font-family: "Lato Black";
    -fx-font-size: 20;
}

#Saved {
    -fx-font-family: "Lato Black";
}

/* Vehicle */

#Car {
    -fx-background-image: url("../../Images/dinim3akalpha001/Car.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-shape: none;
    -fx-background-radius : 10;
}





